*{
    box-sizing: border-box;
}
.bag-image {
    background-image: url('https://images.unsplash.com/photo-1515339760107-1952b7a08454?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmljZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
background-size: cover;
background-repeat: no-repeat;
}
.title-style {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 5px #313437;
color: black;
}
  
.box-font-color {
    color:#81878d;
    font-size: 17px;
}
.font-color {
    color:antiquewhite;
    font-size: 6mm;
    margin-top: -5%;
}
  
.team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}
  
@media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
}
  
.team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
}
  
.team-boxed .intro p {
    margin-bottom:0;
    font-family: 'Kalam', cursive;
    text-shadow: 5px 4px 5px #313437;
    
}
  
.team-boxed .people {
    padding:50px 0;
}
  
.team-boxed .item {
    text-align:center;
}
  
.team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color : #ebecf4;
    margin-bottom:30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    font-size: 5mm;
    color:inherit;
}
.team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#81878d;
    letter-spacing:2px;
    font-size:13px;
    margin-right: 0;
    margin-top: 0;
}
  
.team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
}
  
.team-boxed .item img {
    max-width:160px;
}
  
.team-boxed .social {
    font-size:18px;
    color:#71777e;
}
  
.team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
}
  
.team-boxed .social a:hover {
    opacity:1;
}
  