*{
	box-sizing: border-box;
}
/* 
.big-container {
	height: 100vh;
} */
.team-boxed {
	background-color: red;
	/* background-size: cover;
	background-repeat: repeat-y; */
	
	/* position: -webkit-sticky;
    position: sticky;
	top: 0; */
	/* position: fixed; */
}

.title-style {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 40px;
	text-shadow: 2px 2px 5px #313437;
}
  
.box-font-color {
	color:#81878d;
	font-size: 17px;
}

.font-color {
	color:antiquewhite;
	font-size: 15px;
	margin-top: -5%;
}
  
.team-boxed h2 {
	font-weight:bold;
	margin-bottom:40px;
	padding-top:40px;
	color:inherit;
}
  
@media (max-width:767px) {
	.team-boxed h2 {
	  margin-bottom:25px;
	  padding-top:25px;
	  font-size:24px;
	}
}
  
.team-boxed .intro {
	font-size:16px;
	max-width:500px;
	margin:0 auto;
}
  
.team-boxed .intro p {
	margin-bottom:0;
	font-family: 'Kalam', cursive;
	text-shadow: 5px 4px 5px #313437;
	
}
  
.team-boxed .people {
	padding:50px 0;
}
  
.team-boxed .item {
	text-align:center;
}
  
.team-boxed .item .box {
	text-align:center;
	padding:30px;
	background-color:#fff;
	margin-bottom:30px;
	height: 80%;
	width: 100%;

}
  
.team-boxed .item .name {
	font-weight:bold;
	margin-top:28px;
	margin-bottom:8px;
	color:inherit;
}
  
.team-boxed .item .title {
	text-transform: uppercase;
	font-weight:bold;
	color:#81878d;
	letter-spacing:2px;
	font-size:13px;
	text-align: center;
}
  
.team-boxed .item .description {
	font-size:15px;
	margin-top:15px;
	margin-bottom:20px;
}
  
.team-boxed .item img {
	max-width:160px;
}
  
.team-boxed .social {
	font-size:18px;
	color:#71777e;
}
  
.team-boxed .social a {
	color:inherit;
	margin:0 10px;
	display:inline-block;
	opacity:0.7;
}
  
.team-boxed .social a:hover {
	opacity:1;
}
  
  