#body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 5mm;
    color: bold;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1516074269859-f54ee0d65fa7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    background-repeat: no-repeat;

}
#cardRender{
    font-weight: bold;
}

#card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 160px;
    margin-left: 110px;
    gap: 30px;
}

.mb-3{
    margin-left: 10px;
    margin: auto;
    width: 70%;
}
#AddForm{
    font-size: 5mm;
    font-weight: bold;
    padding: 20px;
    height: 600px;
    margin-top: 90px;
    margin-left: 55px;
    border-radius: 25px;
    background-color: rgba(87, 67, 71, 0.192);
	color:rgb(70, 58, 60);
	text-shadow: 1px 1px 3px rgba(70, 58, 60, 0.575);
}
.addPets{
    text-align: right;
}

.cardBody{
	background-color: #746456;
    color: #dbdbdb;
	font-family: 'Playfair Display', serif;
}
#gender{
    display: grid;
	grid-template-columns: 60px 200px 200px;

}
#check{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.check{
    background-color: rgb(250, 250, 250);
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.check:hover{
    background-color: rgb(83, 69, 72);
    color: white;
}

#p{
    color: #f1f1f1;
    background-color: rgba(87, 67, 71, 0.25);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(87, 67, 71, 0.2) ;
    font-family: 'Kalam', cursive;
	text-shadow: 1px 1px 3px rgb(70, 58, 60);
	font-size: 5.8mm;;
}
#Description{
    margin-top: -30px;
}

.buttonForm{
    color: rgb(246, 250, 250);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #887c67;
    border: #928b7f;
    margin-top: 20px;
    margin-left: 10px;
}

.buttonForm:hover{
    background-color: #f0f0ee;
    color: #5f584d;
}

.buttonUpdate{
    color: #b8ae9e;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #b8ae9e;
    border: #928b7f;
    margin-top: 20px;
    margin-left: 30px;
}

.buttonUpdate:hover{
    background-color: #f0f0ee;
    color: #5f584d;
   
}

.cardDesign { 
	box-shadow: 1px 1px 2px #5f584d;
}

#del-btn { 
	color: #f1f1f1;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #887c67;
    border: #928b7f;
	text-shadow: 1px 1px 3px rgba(70, 58, 60, 0.575);
	margin-left: 2%;
}

#up-btn { 
	color: #f1f1f1;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #b8ae9e;
    border: #928b7f;
	text-shadow: 1px 1px 3px rgba(70, 58, 60, 0.575);
	margin-left: 10%;
}

#del-btn:hover {
	background-color: #f0f0ee;
    color: #5f584d;
}
#up-btn:hover {
	background-color: #f0f0ee;
    color: #5f584d;
}