#body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 5mm;
    color: bold;
    height: 78vh;
    margin: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFcfc3lLfpbn8A5tdeEJ1htvfSaduvEn1Lg&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;

}

#card{
    display: flex;
    flex-wrap: wrap;
    color: rgb(240, 172, 1);
    margin-top: 40px;
    margin-left: -10px;
}

.mb-3{
    margin-left: 10px;
    margin: auto;
        width: 50%;
}
#AddForm{
    text-align: center;
    color: rgb(252, 251, 249);
    margin-top: 10px;
    
}
.addPets{
    text-align: right;
}

.cardBody{
    background-color: rgb(3, 62, 65);
  color: navajowhite;
}

