/* .bg-img {
	background-image: url("https://images.unsplash.com/photo-1506993708131-b0bf29d16b76?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

#bg-img2 {
	background-image: url("https://images.unsplash.com/photo-1599184488811-099b1e9aa9be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

#bg-img3 {
	background-image: url("https://images.unsplash.com/photo-1491485880348-85d48a9e5312?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
}

#bg-img4{
	background-image: url("https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80");
} */

.header-color{
	background-color: transparent;
}

.font-color{
	color: black;
    font-family: 'Yellowtail', cursive;
}

.font-family{
	font-family: 'Yellowtail', cursive;
	font-size: 100px;
	color: rgba(255, 235, 205, 0.788);
	text-shadow: 2px 2px rgba(128, 128, 128, 0.521);
}

.Btn-Blue-BG.active {
	background-color: grey !important;
  }

