#margin-top {
	margin-top: -2%;
	color: rgba(228, 218, 204, 0.788);
	text-shadow: 2px 2px rgba(53, 31, 31, 0.521);
	font-size: 19.5px;
	font-style: italic;
	text-align: center;
}
.carousel-position .item {
	height: 110vh;
}
.item .im {
	position: absolute;
    top: 0;
    left: 0;
    min-height: 110vh;
}
.for-adoption-position:hover {
	text-shadow: 0 0 3px #D7B19D, 0 0 5px #D7B19D;
}
#margin-top:hover {
	text-shadow: 0 0 3px #D7B19D, 0 0 5px #D7B19D;
}

.carousel-position image{
	position: relative;
	height: 100vh;
	background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.img-fluid {
	width: 100%;
}

.for-adoption-position {
	margin-top: -5.8%;
	color: rgba(228, 218, 204, 0.788);
	text-shadow: 2px 2px rgba(53, 31, 31, 0.521);
	font-size: 19.5px;
	font-style: italic;
	text-align: center;
}

.font-family{
	font-family: 'Satisfy', cursive;
	font-size: 130px;
	text-align: center;
	color: rgba(228, 218, 204, 0.788);
	text-shadow: 2px 2px rgba(53, 31, 31, 0.521);
}

.caption-margin {
	margin-bottom: 18%;
}

.img-size {
	width: 100%;
}

.color-btn{
	color: rgba(255, 235, 205, 0.788);
	background:rgba(255, 235, 205, 0.733);
}

.disc {
	position: absolute;
	z-index: 100;
	bottom: 200px;
	left: 300px
}
.btn-pets {
	background-color: transparent;
	color: #fff;
	border: 1px solid #D8E3E7;
	border-radius: 10px;
	padding: 15px 32px;
	margin: 10px;
	box-shadow: 2px 2px 2px #D8E3E7;
	font-size: 20px;
}

.btn-pets:hover {
	background-color: #BDC7C9;
	color: #000;
}