.cat {
    position: relative;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 5px;

  }
  body {
    margin: auto;
    width: 1350px;
    height: auto;
  }

  .cat .image {
    border-style: solid;
    border-width: 7px;
    border-color: rgb(78, 75, 75);

  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  Button:hover{
      background-color: black;
  }
  .overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    padding: 10px;

  }
  
  .cat:hover .overlay {
    opacity: 1;
  }
  .cat:hover .image{
    opacity: .2;
    
  }
  
  .text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }