@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.position-footer {
	position: absolute;
	z-index: 100;
	top: 120%;
	left: 40%;
}

.margin-top {
	margin-bottom: 10%;
	color:rgba(255, 235, 205, 0.733);
	text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.521);
	font-size: 15.5px;
	font-style: italic;
}

.margin-bottom {
	margin-bottom: -15%;
}
