@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.position-footer {
width: 100%;
height: 100%;
padding :30px 20px;
text-align: center;
}

.margin-top {
	margin-bottom: 10%;
	color: #000;
	text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.521);
	font-size: 15.5px;
	font-style: italic;
}

.margin-bottom {
	margin-bottom: -15%;
}
