.header-color{
	background-color: transparent;
	width: 100%;
	z-index: 100;
	position: fixed;
	padding :10px 0;
	top:0;
}

.logo {
	position: relative;
	left: 0%;
}
.position {
	position: absolute;
	
	top:0px;
	left: 200px;
	

	

}

.font-color{
	color: black;
}
.text-my-own-color {
	color: rgb(255, 235, 205) !important; 
	text-shadow: 1px 1px 1px #ccc0c86c;
	font-size: 15px;
}

.text-my-own-color:hover, .text-my-own-color:active {
	color:#5f7583 !important;
}
.bg-color {
	  color: red;
	  
}
